<div class="jumbotron">

  <h1>校园任务</h1>
  <br/>

  <p>在这里你可以发布校园任务，让方便的人替你完成。</p>
  <p>你也可以在顺路的时候抢单他人的任务，完成便有赏金奖励哦！</p>
  <br/>

  <p><%= link_to '现在注册', new_user_path, class:"btn btn-primary btn-lg", role:"button" %></p>
  <br/>

  <p>已有帐号？<%= link_to '登录', new_session_path %>
</div>
