<% if @my_servers && @my_servers.length > 0 %>
  <div id="order-panel" class="col-sm-3">
    <div class="panel-head">你已接单：</div>

    <% @my_servers.each do |item| %>
      <%= render 'orders/my_server', item:item %>
    <% end %>
  </div>
<% end %>