<div class="main">
<div class="container-fluid">
<div class="row">
  <%= render 'share/order_panel' %>

  <% if @my_servers && @my_servers.length > 0 %>
    <div class="col-sm-8 orders">
      <%= render @orders %>
    </div>
  <% else %>
    <div class="col-sm-12 orders">
      <%= render @orders %>
    </div>
  <% end %>
</div>
</div>
</div>