.main {
  margin-top: 5px;
}

.centered {
  margin: 0 auto;
}

p #or{
  margin-left: 20px;
  margin-right: 20px;
}

#index-twitter img {
  width: 200px;
}

.orders {
  margin-top:25px;
  max-width: 730px;
}

#order-panel {
  padding: 15px 8px 15px 8px;
  margin: 25px 15px 5px 15px;
  background-color: white;
  max-width: 290px;
  border-radius: 3px;
}

.new-order {
  border-radius: 4px;
  background-color: white;
  padding: 5px 10px 13px 10px;
  max-width: 365px;
  margin:20px auto 0 auto;
}

.new-order > form > input {
  max-width:350px;
}

.new-order .line {
  padding-bottom: 10px;
}

.new-order > form > textarea {
  max-width:350px;
}

.new-order h3 {
  text-align: center;
}

.new-order > form > .btn {
  width: 345px;
}

.order-card {
  padding: 10px 10px 10px 10px;

  background-color: white;
  border-radius: 3px;

}

.order-card .order-content {
  margin: 10px -10px 10px -10px;
}

.order-card .order-title {
  font-weight: 700;
}

.order-card .order-total {
  font-weight: 700;
}

.order-card .order-btns {
  margin-top: 9px;
}

.order-card .order-location {
  margin-left: 20px;
}

.order-card .order-total {
  margin-right: 10px;
}

.order-name {
  font-weight: 700;
}

.order-total {
  font-weight: 700;
  color: green;
  float: right;
}

.order-location {
  font-weight: 700;
}


#order-panel .panel-head {
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

#order-panel .order-title {
  max-width: 100px;
} 

#order-panel .order-total {
  margin-left: 10px;
}



.serving-item {
  padding-left: 10px;
  padding-right: 10px;
}

.serving-item .order-location{
  margin-top: 10px;
}

.serving-item .btn-line{
  margin-top: 10px;
}


.serving-item .more {
  margin-left: 15px;
}



.get-order {
  display: inline;
  padding: 3px 7px;
  border-radius: 2px;
  margin-left: 15px;
}

form.button_to {
  display: inline;
}

form.button_to input {
  display: inline;
}

#information {
  position: fixed !important;
  z-index: 500 !important;
  right: 0;
  top: 30%;
}

#information .alert {
  width: 200px;
}

#newest-order a {
  background-color: #dff0d8;
  color:#3c763d;
  margin: 5px 0 5px;
  padding: 10px 0 10px;
  text-align: center;
  font-size: 15px;
  border-radius: 3px;
  display:block;
}


.order-detail {
  margin: 15px auto 5px auto;
  max-width: 600px;
  font-size: 15px;
}

.order-detail .item {
  line-height: 1.1;
}

.order-btn .pending-order {
  float: right;
  display: inline;
  padding: 3px 7px;
  border-radius: 2px;
}

.order-btn .cancel-order {
  display: inline;
  padding: 3px 7px;
  border-radius: 2px;
}

table {
  margin-top: 10px;
  background-color: white;
  padding: 10px 10px 10px 10px;
}

.star {

}

.star .glyphicon-star {
  cursor:  pointer;
}

.star-set .glyphicon-star {
  color: green;
}

#index-paginate {

}

.well {
  border-radius: 0;
  border-width: 0;
  background-color: #F2F2F2;
}